.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #c02c2c;
}

table {
  color: rgb(97, 155, 43);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 600px;
  background: #7dced1;
}

.header-row {
    background: #062d53;
    color: rgb(189, 167, 188)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}